@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    background-color: #e6e6e6;
    font-family: 'Anton';
}

.logo {
    position: relative;
    bottom: 75px;
}

.jumbotron {
    height: 80px;
    margin-top: 6em;
}

.logo-text {
    font-family: 'Abel';
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
}

.main-bar {
    text-align: center;
    font-family: 'Abel';
    text-transform: uppercase;
    /*word-spacing:1em;*/
    font-size: 20px;
}

a {
    color: black;
    /*text-transform:uppercase;*/
}

.circle-text {
    list-style: none;
    text-align: center;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.padding{
    padding-top:10%;
}

.circle {
    margin-right: .8em;
    margin-bottom: .8em;
    font-size: 1.8em;
    border-radius: 100%;
    border: solid white .3em;
    width: 6em;
    height: 6em;
    color: white;
    padding-top: 1.9em;

  }

#red {
    background-color: #e6614d;
}

#orange {
    background-color: #eaae33;
}

#green {
    background-color: #7cb06c;
}

#teal {
    background-color: #00aba9;
}
.align-left{
    text-align:left;
}
.featured-product{
   
}

 .small-circle {
     margin-right: .2em;
     margin-bottom: .2em;
     padding-top: .3em;
     padding-left: 1em;
     border-radius: 100%;
     width: 2em;
     height: 2em;


}
 .article{



    

 }
