.main-heading {
    text-align: center;
    text-transform:uppercase;
    font-weight:bold;
}

body{
    background-color:#e6e6e6;
}
.circle {
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    border:solid white .8em;
    width: 200px;
    height:200px;
    color:white;
    text-transform: uppercase;
    font-weight:bold;
    padding-top:3.1em;
}

#red{
    background-color:#e6614d;
}
#orange{
    background-color:#eaae33;
}
#green {
    background-color:#7cb06c;
}
#teal{
   background-color:#00aba9;
}